.Button {
  box-sizing: border-box;

  position: relative;

  min-width: 64px;

  margin: 0px;
  border: none;
  border-radius: 4px;
  padding: 12px;

  outline: none;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #1cba7f;

  cursor: pointer;

  overflow: hidden;
}

.Button:before {
  content: "";

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.Button:focus:before {
  background-color: #ffffff33;
}

.Button:hover:before {
  background-color: #ffffff33;
}

.Button-ripple {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff66;

  opacity: 0;
}

.Button-ripple.animate {
  animation: Button-ripple-keyframes 1s;
}

@keyframes Button-ripple-keyframes {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
