.MdIconButton {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  position: relative;

  margin: 0px;
  border: 0px;
  padding: 12px;
  border-radius: 50%;

  overflow: hidden;

  color: var(--MdIconButton-color, #000000);

  cursor: pointer;
}

.MdIconButton:hover::before,
.MdIconButton:focus::before {
  position: absolute;

  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  background-color: var(--MdIconButton-ripple-color, #000000);
  opacity: .04;

  content: "";
}

.MdIconButton:focus {
  outline: 0;
}

.MdIconButton > svg {
  width: 24px;
  height: 24px;

}

.MdIconButton::after {
  position: absolute;
  border-radius: 50%;
  background-color: var(--MdIconButton-ripple-color, #000000);

  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  /* margin-left: -12px; */
  /* margin-top: -12px; */

  opacity: 0;

  content: "";
}

.MdIconButton.animate::after {
  animation: ripple 2s;
}

@keyframes ripple {
  from {
    opacity: .3;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
